* {box-sizing: border-box;}

body{
    font-family:courier,arial,helvetica;
}

#div-top {
    background-image: url('/image/setup.jpg'); /* foto: ikita-kachanovsky */
    background-size: cover;
    background-attachment: fixed;
}

/* Menu topo */

.menu {
    width: 100%;
    height: 40px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ------ LOGO ------ */

.div-logo{
    width: 55px;
    margin-left: 35px;
    border: solid 2px #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    text-decoration: none !important;
    width: 55px;
    border: solid 2px #000;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    transition: all .3s ease-in-out;
}

.logo:hover{
    border: solid 2px #fff;
    border-radius: 100%;
    background-color: #000;
    color: #fff;
}

/* fim logo */

.menu h1{
    color: #fff;
    font-size: 1.7rem;
    font-weight: bold;
    margin: 10px 0;
}

.menu-link{
    margin-right: 30px;
}

.menu-link a {
    padding: 15px;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    position: relative;
}

.menu-link a:hover {
    color: gray;
}

.menu-link a::after{
    content: " ";
    width: 0;
    height: 3px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .5s ease-in-out;
}

.menu-link a:hover::after{
    width: 100%;
}

/* Botão menu  */

#botao-menu {
    position: absolute;
    margin-top: -30px;
    left: -500px;
}

.menu label {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 795px) {

    #topo nav {
        width: 100% !important;
    }

    .menu {
        display: block;
        text-align: center;
        position: relative;
        margin-top: -10px;
    }

    .menu-link {
        top: -1000px;
        position: relative;
        width: 100%;
        height: 90vh;
        transition: all .5s ease-in-out;
        background: rgba(2, 0, 0, 0.95);
    }

    .menu-link a {
        display: block;
        font-size: 2rem;
    }

    .menu label{
        display: block;
        color: #fff;
        font-size: 50px;
    }
    
    #botao-menu:checked ~ .menu-link{
        top: -5px;
        z-index: 1;       
        transition: all .7s ease-in-out;
    }

    /* ---- Logo ----- */
    .menu .div-logo {
        display: none;
    }

    /* imagens Projetos */

    #projImg{
        display: none;
    }

    /* --- Links contato lateral  */
    .link-contato-lateral{
        display: none;
    }

    #habilidades h1 {
        display: none;
    }

    .titulo-habilidades{
        display: block !important;
        text-align: center;
    }

}

@media screen and (max-width: 991px) {

    /* imagens Projetos */

    #projImg{
        display: none;
    }

    .menu-projeto{
        width: 100%;
    }

    #habilidades h1 {
        font-size: 2rem !important;
    }
    
    #habilidades h1 {
        display: none;
    }

    .titulo-habilidades{
        display: block !important;
        text-align: center;
    }
    
}

@media screen and (max-width: 11801px) {

    #habilidades h1 {
        font-size: 4rem !important;
    }
    
    
}


@media screen and (max-width: 1140px) {

    .sobre{
        width: 90%;
        margin-left: 60px;
    }

    /* gif seção sobre mim */
    #gif-helloWorld {
        display: none;
    }

    #habilidades h1 {
        font-size: 4rem !important;
    }

    
}

/* -------- Seção de apresentação e boas vindas ------ */

.banner-topo-apresentacao{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-topo-apresentacao > div {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.bem-vindo span{
    font-size: 2.5em;
}

/* ------- Sobre Mim ------- */

#sobre, #projetos, #habilidades {
    height: 100vh;
    font-size: 1.3rem;
    text-align: justify;
}

#sobre {
    background-image: url("/image/fundo-sobre.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#gif-helloWorld img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

/* ------ Habilidades ------ */

#habilidades{
    background-color: #000;
    background-image: linear-gradient(to top, black, rgb(29, 28, 28));
    color: #fff;
    padding-top: 70px;
}

#habilidades h1 {
    font-size: 3.8em;
}

.titulo-habilidades{
    display: none;
}

.skills {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.skills div {
    height: 27%;
    width: 140px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    border-radius: 100%;
    text-align: center;
    margin: 5px;
    transition: all .3s ease-in-out;
}

/* ------------ Projetos ----------- */

#projetos{
    background-color: #fff;
}

.projetos-class {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 50px;
    height: 100vh;
    padding: 45px;
}

.projetos-class h1 {
    margin-left: 10px;
}

#projImg img, #imageModal {
    width: 300px;
}

#projImg{
    position: relative;
    top: 0;
    animation: animeImg 2.5s infinite;
}

@keyframes animeImg {
    0%{
        top: 0;
    }
    50%{
        top: 50px;
    }

    
}

.menu-projeto{
    display: flex;
    flex-direction: column;
    width: 20px;
}

.menu-projeto button {
    background-color: #000;
    width: 400px;
    margin: 10px;
    padding: 10px;
    color: #fff;
    border: none;
    border-bottom-right-radius: 30%;
    transition: all .3s ease-in-out;
    text-align: left;
}

.menu-projeto button:hover{
    width: 430px;
}

.projetos-imagens {
    text-align: center;
    transform: rotate(10deg)
}


/* seta subir para o inicio */

#seta-subir {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    font-size: 60px;
    color: rgb(155, 155, 155);
}

/* Links de contato lateral */

.link-contato-lateral{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    padding: 5px 5px 0;
    bottom: 0;
    left: 30px;
}

.link-contato-lateral a {
    text-decoration: none;
    border: solid 1px #000;
    color: #000;
}

.link-contato-lateral a {
    display: flex;
    justify-content: center;
    background-color: #fff;
    margin: 7px 5px 0;
    padding: 8px 8px;
    color: #000;
    border-radius: 100%;
    transition: all .3s ease-in-out;
}

.link-contato-lateral a:hover{
    background-color: #000;
    border: solid 1px #fff;
    color: #fff;
}


.link-contato-lateral .linha{
    border-radius: 0% !important;
    width: 2px;
    padding: 0px;
    height: 140px;
    border: solid 1px #fff;
}